* {
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

img {
  width: 100%;
}

.bg-black {
  background: #000;
  color: white;
}

.text-gold {
  color: gold;
}

/* .size {
  width: 100vw;
  height: 100vh;
} */

.nav-link:hover {
  color: gold;
}

.credit {
  font-family: consolas;
}

.nav-link {
  color: white;
}

.cv-heading {
  font-weight: lighter;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.cv-content {
  font-weight: bolder;
  text-transform: uppercase;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
