img {
  width: 100%;
}

.bg-black {
  background: #000;
  color: white;
}

.text-gold {
  color: gold;
}

/* .size {
  width: 100vw;
  height: 100vh;
} */

li > a:hover {
  color: gold;
}

.credit {
  font-family: consolas;
}
